@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body *{
    box-sizing: border-box;
}
.header-top{
    background-color: #050A30;
    position: relative;
    height: 60px;
    overflow: auto;

}
.header-nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.header-nav ul{
    margin: 0px;
    padding-right: 30px;
    position: relative; 
}
.header-nav li{
    list-style: none;
    display: inline-block;
    margin-right: 0 5px 0 0;
    padding: 13px;
      
}

.header-nav a{
    color: white;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: bold;
     
}
.logo{
    margin: 5px 0 0 0px;    
    max-width: 125px;
    max-height: 100px;
    width: 100%;
    height: 90%;
    position: absolute;
    float: left;
    padding-left: 30px;
}
.Cadastro{
   
    display: inline-block;
    border: 10px;    
    text-decoration: none;
    
    margin: 3px;
    
    
    
    
    background-color: #050A30;
    
}
.Cadastro a{
    background-color: white;
    color: #050A30;
    border-radius: 10px;
    padding: 5px;
}

.main-login{
    /*porcentagem da largura da tela*/
    width: 100vw;
    /*porcentagem do tamanho da tela*/
    height: 100vh; 
    background-color: #050A30;;
    /*componentes dispostos lado a lado*/
    display: flex;
    /*posiciona e centraliza as coisas no eixo x*/
    justify-content: center;
    /*posiciona e centraliza as coisas no eixo y*/  
    align-items: center;        
}

.left-login{
    width: 50vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*dentro do lado a lado estara disposto em forma de coluna*/
    flex-direction: column;

}
.left-login > h1{
    font-size: 3vw;
    color: #5992ED;
}

.left-login-image{
    width:35vw ;

}

.right-login{
    width: 50vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;        /*espassamentos*/
    background: #315788;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}
.card-login > h1{
    color:white;
    font-weight: 800;
    margin: 0;
}
.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #aaacaf;
    color: #080808;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield >label{
    margin-bottom: 10px;
}
.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #5992ED;
    background: #1351B4;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #1351B4;
}

/*para telas menores*/
@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

/*para celular*/
@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }

    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image{
        width: 50vw;
    }

    .card-login{
        width: 90;
    }
}